#wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gray;
}

#body{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    height: 700px;
    width: 500px;
    padding: 50px;
    border-radius: 10px;
    background-color: white;
}

#ab{
    height: 50px;
    width: 150px;
    background-color: aqua;
    font-size: 30px;
    font-family: "Inconsolata", serif;
    text-align: center;
}

#about{
    padding: 20px;
    background-color: #9370DB;
    border-radius: 20px;
    height: 650px;
    width: 400px;
}

#img{
    height: 300px;
    width: 300px;
    border-radius: 150px;
    background-color: #DDA0DD;
    outline-style: solid;
    outline-color: white;
    outline-offset: 20px;
    outline-width: thick;
}

#temp{
    margin-left: 75px;
    margin-top: 75px;
}

#spectext{
    font-size: 50px;
    color: white;
    font-family: "Lexend Giga", serif;
    margin-top: 60px;
}

#spectext2{
    font-size: 80px;
    margin-top: -30px;
    color: white;
    font-family: "Bebas Neue", serif;
}

#spectext3{
    font-size: 16px;
    margin-top: -30px;
    color: white;
    font-family: "Lexend Giga", serif;
    text-decoration: underline;
}